@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "pp-neue-montreal", "Times New Roman";
    font-size: 0.5208333333333333vw;
    font-weight: 500;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    @apply max-md:text-[10px];
  }
  body {
    @apply bg-black;
  }
  @media(max-width: 768px) {
    .text-base {
      font-size: 1rem !important;
    }
  }
}

@layer components {
  td input {
    text-align: inherit;
  }
}
