@font-face {
  font-family: "pp-neue-montreal";
  src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
