@font-face {
  font-family: "pp-neue-montreal";
  src: url("/fonts/pp-neue-montreal/pp-neue-montreal.medium.woff2")
      format("woff2"),
    url("/fonts/pp-neue-montreal/pp-neue-montreal.medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
